@tailwind base;
@tailwind components;
@tailwind utilities;

/* 画面いっぱいに表示するための設定 */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #111827;
  color: white;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}